
#modal_task .boxModal {
    width: 600px;
    height: 400px;
}

    #data_task {
        width: 600px;
        margin: 0 auto;
    }

/***************   Scrollbar ModalTask   *****************/
        #data_task ol::-webkit-scrollbar {
            width: 10px;
            position: absolute;
            right: 0;
            float: right;
            opacity: 0;
        }
        #data_task ol::-webkit-scrollbar-track {
            background: #ddd;
        }
        #data_task ol::-webkit-scrollbar-thumb {
            background: #a0bcd4; 
        }
/********************************************************/

        #data_task .sections-data {
            width: 100%;
            height: 360px;
            padding: 0 20px;
            overflow-y: auto;
        }
        ol {
            padding: 0 20px;
        }
        .section-datat {
                padding: 15px 15px;
            }

                .info_task span {
                    border: none;
                }

                #textTitle{
                    width: 300px;
                    font-size: 16px;
                    border: transparent;
                    outline-style: none;
                    outline: 0;
                    box-shadow: none;
                    border-radius: 0;
                    border-bottom: 1px solid rgba(34,36,38,.15);
                }

                .description_task {
                    color: darkslategray /*darkslategrey*/;
                    font-size: 0.9em;
                }
                    .description_task p {
                        padding: 5px;
                    }
                    #textDescription {
                        padding: 5px;
                        width: 100%;
                        box-shadow: 0 0 0 1px rgba(34,36,38,.15);
                        outline: 0;
                        border-radius: 0.29rem;
                    }
                        #textDescription:focus {
                            box-shadow: 0 0 0 1px #cce2ff;
                        }

/*************** Links description ***********************/

                    .description_task a {
                        text-decoration: none;
                        color: darkcyan;
                    }
                    .description_task a:hover {
                        text-decoration: underline;
                    }

/************************Recursos***********************/

#recurso {
    background: none;
    border: none;
    font-size: 1em;
    color: darkcyan;
}
#recurso:hover {
    text-decoration: underline;
    cursor: pointer;
}