<div id="home" data-vm="home">
    <div id="pviews">

        <div id="alertt" class="alert displayhidden">
            <div class="titlep">¡Título actualizado! Correctamente.</div>
        </div>

        <div id="modal-c-p" class="modal hidden">
            <div class="backg-modal" @click="modalCreate"></div>
            <div id="modalcProject" class="boxModal">
                <div class="titleModal">
                    <p class="title">¡Crear un nuevo proyecto!</p>
                </div>
                <div class="data-project">
                    <div class="form">
                        <input id="NUEVOTITULO" class="formcp" type="text" placeholder="Nuevo título">
                        <div>
                            <label for="">momantai/</label>
                            <input v-model="idpm" v-bind:value="clean" class="formcp" type="text" placeholder="id-ejemplo-proyecto">
                        </div>
                        <div class="opt-form">
                            <span class="btn-create" @click="wCreate">Crear</span>
                            <span class="btn-cancel" @click="modalCreate">cancelar</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="modal-p" class="modal hidden">
            <div class="backg-modal" @click="modal"></div>
            <div id="modalProject" class="boxModal">
                <div class="titleModal">
                    <p class="title">Editando información de proyecto</p>
                </div>
                <div class="data-project">
                    <div class="form">
                        <input id="TITLE" class="formp" placeholder="Título" @blur="updateTitle" v-bind:value="datap.title">
                        <div class="formp" id="DESCRIPTION" contenteditable="true" @blur="updateDescription" data-placeholder="Descripción">{{datap.description}}</div>
                        
                        <label class="formp">{{datap.proyect_id}}</label>
    
                        <div class="collaborators">
                            <input id="elcollabora" type="" name="" @keyUp.13="addCollaborator()" placeholder="Colaborador (usuario o e-mail)" class="formp collaborator">
    
                            <ul class="collist">
                                <li v-for="c in datap.collaborators">
                                    <span>{{c}}</span><span style="float:right; font-weight: 600; cursor: pointer;">x</span>
                                </li>
                            </ul>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    
        <div id="box-content">
            <div class="show-proyects">
                <div class="box-topshowproyect">
                    <input type="text" name="search" class="search" placeholder="Buscar..">
                </div>
                <div class="showbox">
                <div class="proyect-preview" v-for="pv in dataps">
                    <div class="edit" @click="selectProject(pv.owner, pv.proyect_id)"></div>
                    <div class="circle" v-bind:style="{backgroundColor: pv.color}">
                        <h3>{{pv.letters}}</h3>
                    </div>
                    <div class="title-p">
                        <a :href="'https://www.pmanagerd.bluemix.net/'+pv.owner+'/'+pv.project_id"></a><p>{{pv.title}}</p>
                    </div>
                    <div class="count-task">
                        <span>Tareas</span>
                        <div>
                            <span title="En espera">{{pv.task.length}}</span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <!-- <div class="todoandnotes">
                <div class="notes">
                    
                </div>
                <div class="todos">
                    
                </div>
            </div> -->
        </div>
        <div id="createPjct" title="Crear proyecto" @click="modalCreate">
            <p>+</p>
        </div>
        </div>
</div>
