<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/css.css" type="text/css">

    <title>Board To-do</title>
</head>

<body>
    <script>
         document.title = 'Taskboard | Nuevo Proyecto'
    </script>
    <!--
        todo-board: Contenedor del taskboard en su totalidad.
        c-todo-b: Container todo board, contenedor de las secciones y los items dentro de estas.
        h-todo-b: Head todo board, container de los elementos de la cabecera de las secciones.
        s-h-todo: Seccion head todo, contenedor del titulo de las secciones y otros elementos.
        v-todo-b: View todo board, vista contenedor que contiene y muestra los items.
        i-todo-b: Item todo board, elemento (task) dentro del contenedor v-todo-b.
        t-i-t-b:  Title Item To do board.
        progress: Barra de proceso.

        btn-icons: Sección de los iconos dentro de los items.
        icon: icono.
    -->
    <div class="barra"></div>
    <div id="main">
        <div class="section-one sections">
            <div class="tboard">
                <div id="Modal" class="modal hidden">
                    <div class="backg-modal" @click="oculteEl('Modal', 'hidden')"></div>
                    <div class="boxModal">
                        <div class="titleModal">
                            <p class="title">Nuevo Item {{status}}</p>
                        </div>
                        <div class="contentModal">
                            <input id="inputNItem" type="text" @keyup.13="newItem({m: ''}), oculteEl('Modal', 'hidden')"
                                @keyup.esc="titleItem='', oculteEl('Modal', 'hidden')" v-model="titleItem">
                        </div>
                    </div>
                </div>
        
        
                <div id="todo-board">
                    <div class="h-todo-b">
                        <div class="s-h-todo" v-for="i in status">
                            <div class="title-head-board title">{{i}}</div>
                            <div class="more-head-board">
                                <button class="icon more" id="moreItemid" @click="newItemE(i)"></button>
                            </div>
                        </div>
                    </div>
        
                    <div class="c-todo-b">
                        <div class="v-todo-b" v-for="i in taskboard">
                            <div class="i-todo-b" v-for="s in i">
                                <span class="deletew" title="Eliminar" @click="deleteTask(s._id)"></span>
                                <p class="t-i-t-b">{{s.work}}</p>
                                <div class="progress" v-if="s.progress">
                                    <div class="p">{{s.progress}}</div>
                                    <div class="bar"></div>
                                </div>
                                <div class="action-i-t-b">
                                    <div class="btn-icons" v-if="indexPos(s.status) != 0"><i class="icon left" @click="change({i:s._id, s:s.status, t:'b', m:''})"></i></div>
                                    <div class="btn-icons" v-if="s.comment"><i class="icon comment"></i>{{s._id}}</div>
                                    <div class="btn-icons" v-if="indexPos(s.status) != status.length-1"><i class="icon right"
                                            @click="change({i:s._id, s:s.status, t:'n', m:''})"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-two sections">
            <div class="calendar widgets"></div>
            <div class="log widgets"></div>
        </div>

    </div>
    <!-- <script src="vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/node-uuid/1.4.7/uuid.min.js"></script>
    <script src="uuid.min.js"></script> -->
    <script src="js.js"></script>
</body>

</html>